div.appview-container.st-emotion-cache-1wrcr25.ea3mdgi4 {
    background-image: url('background.JPG');
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image in the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

