category_encoders
firebase_admin
geocoder
joblib
mysql-connector-python
pandas
Pillow
Pyrebase4
python-dotenv
scikit-learn==1.4.0
streamlit==1.38.0
streamlit_extras
streamlit_option_menu
streamlit_authenticator
