category_encoders==2.6.1
firebase_admin
geocoder
joblib
mysql-connector-python
pandas
Pillow
Pyrebase4
python-dotenv
scikit-learn
streamlit==1.35.0
streamlit_extras
streamlit_option_menu
streamlit_authenticator
