category_encoders
firebase_admin
geocoder
joblib
mysql-connector-python
pandas
Pillow
Pyrebase4
python-dotenv
scikit-learn
streamlit==1.20
streamlit_extras
streamlit_option_menu
streamlit_authenticator
